@import "./botons/botons";
@import "./typographies/typographies";

.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-primary{
    background: #3FF08E;
}
